body{
      background-color:white;
}
i{
      color: orangered;
}
.location{
      width: 80%;
      margin: auto;
      padding: 80px 0;
}
.location iframe{
      width: 100%
}
.contact-us{
      width: 80%;
      margin: auto;
}
.conatct-col{
      flex-basis: 48%;
      margin-bottom: 30px;
}
.conatct-col div{
      display: flex;
      align-items: center;
      margin-bottom: 40px;
}
.conatct-col div .fa{
      font-size: 28px;
      color: #f44336;
      margin: 10px;
      margin-right: 30px;
}