<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body ng-controller="myCtrl">

        <h1>To do list task Application</h1>
        <form ng-submit="addTask()">
            <label>Task</label>
            <input type="text" ng-model="newTask">
            <button type="submit">Add Task</button>
        </form> 
    <br><br><table>
                <tr>
                    <th> Task </th>
                    <th> Action </th>
                </tr>
                <tr ng-repeat="task in tasks">
                    <td> {{task}} </td>
                    <td> <button ng-click="editTask($index)"> Edit </button> 
                         <button ng-click="deleteTask($index)"> Delete </button>
                    </td>
                </tr>
            </table>
            <script>
                var app=angular.module("myApp",[])
                app.controller("myCtrl", function($scope){
                    $scope.tasks=["Reading","Dancing","Playing"];
                    $scope.newTask="";
                    $scope.addTask=function()
                    {
                        $scope.tasks.push($scope.newTask)
                        $scope.newTask="";
                    };
                    $scope.editTask=function(index)
                    {
                        var updateTask=prompt("Enter the task to be edited");
                        if(updateTask!==null)
                        {
                            $scope.tasks[index]=updateTask;
                        }
                    };

                    $scope.deleteTask=function(index)
                    {
                        var confirmMsg=confirm("Are you sure want to delete the task?");
                        if(confirmMsg)
                        {
                            $scope.tasks.splice(index,1);
                        }
                    };
                })
            </script>
    </body>
</html>